<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="available_books">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="my_books">My Books</a>
                </li>
            </ul>
            <div>
                <a class="nav-link text-white" href="book_Register">New Book Register </a>
            </div>
            </div>

    </div>
</nav>
<div class="container text-center my-5">
    <h1>WELCOME TO NEW BOOK STORE</h1>
    <h6>We are thrilled to offer a wide selection of books in various genres, catering to readers of all ages and interests. Our store is designed with your reading pleasure in mind, providing you with a cozy and comfortable space to browse and purchase books.

        Whether you are looking for a classic novel, a bestselling thriller, or a children's picture book, you'll find it here. Our knowledgeable staff is always on hand to help you find what you're looking for, and to recommend new and exciting books to add to your reading list.

        In addition to our impressive collection of physical books, we also offer a range of e-books, making it easy for you to take your reading anywhere.

        Visit us today and let us help you find your next great read!"</h6>
    <img src="/images/img.png" width="360px"/>
</div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>